@import "tailwindcss";

@theme {
  --color-primary: #4F46E5;
  --color-primary-hover: #4338CA;
  --color-secondary: #10B981;
  --color-background: #F3F4F6;
  --color-card: #FFFFFF;
  --color-text-main: #1F2937;
  --color-text-muted: #6B7280;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-text-main);
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
  }
}
